
const { DataTypes } = require('sequelize');
const sequelize = require('../config/database');

const Asset = require('./asset');
const Employee = require('./employee');

const Issue = sequelize.define('Issue', {
  issueDate: {
    type: DataTypes.DATEONLY,
    allowNull: false
  },
  status: {
    type: DataTypes.STRING,
    defaultValue: 'Issued'
  }
});

// ✅ Define relationships
Issue.belongsTo(Asset, { foreignKey: 'AssetId' });
Issue.belongsTo(Employee, { foreignKey: 'EmployeeId' });

Asset.hasMany(Issue, { foreignKey: 'AssetId' });
Employee.hasMany(Issue, { foreignKey: 'EmployeeId' });

module.exports = Issue;
